@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

.root{
    --cor_principal: rgb(0, 3, 156);
    --cor_botao01: rgb(4, 117, 4);
}

#geral{
    margin: 20px;
    padding: 20px;
}